body {
    background-color: #0D1321;
    /* background: linear-gradient(to bottom, #1F1F1F, #0D1321); */
    height: 100vh;
    /* margin: 50px; */
    /* overflow: hidden; */
    /* overflow-y: auto; */
	overflow-x: hidden;
    margin-right: 5%;
    margin-left: 5%;

}

.WIP {
    color: white;
}


/*-------------------------------
//  Nav Bar
-------------------------------*/

.nav-bar {
    display: flex;
    width: 100%;
    height: 10%;
    /* border: red 1px solid; */
    justify-content: space-between;
    align-items: center;
    color: #F0EBD8;
}

.nav-bar .left {
    font-size: xx-large;
}

.nav-bar .right {
    display: flex;
    gap: 20px;
}

.nav-bar button {
    all: unset;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

.nav-bar a {
    all: unset;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

.nav-bar a:hover {
    color: red;
    cursor: pointer;
}

/*-------------------------------
//  Home Content
-------------------------------*/

.home-content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    overflow: hidden;  
    transition: height .25s ease, opacity .25s ease;
}

/*===============
//  left
================*/

.home-content .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: green 1px solid; */
}

.home-content .left #label {
    display: flex;
    height: 15%;
    /* border: red 1px solid; */
    font-size: x-large;
    justify-content: left;
    align-items: center;
}

.home-content .left #label div {
    /* border: blue 1px solid; */
    padding: 10px;
    background-color: #3E5C76;
    color: #F0EBD8;

}

.home-content .left #desc {
    display: flex;
    height: 15%;
    /* border: red 1px solid; */
    font-size: x-large;
    justify-content: left;
    align-items: center;
}

.home-content .left #desc div {
    /* border: blue 1px solid; */
    padding: 10px;
    color: #fff;
    background-color: transparent;

}

.home-content .left #graph {
    height: 50%;
    width: 100%;
    /* border: red 1px solid; */
}

.home-content .left #graph img{
    height: 100%;
    width: 100%;
}

.home-content .left #overview {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    /* border: red 1px solid; */
    justify-items: center;
    align-items: center;
    color: white
}

.home-content .left #overview a {
    all: unset;
    background: none;
    border: 1px white solid;
    outline: none;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-content .left #overview a:hover { 
    /* background-color: green; */
    transform: scale(1.02);
    color: purple;
    border: 2px solid;
    cursor: pointer;
}

/*===============
//  right
================*/

.home-content .right {
    width: 50%;
    height: 100%;
    /* border: blue 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 30px;
    padding-right: 5px;
    gap: 10px;
}

.home-content .right #title {
    color:white;
}

.home-content .right .project-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: left;
    color: black;
    border-left: 4px solid #3E5C76;
    border-right: 4px solid #3E5C76;
    border-top: 2px solid #3E5C76;
    border-bottom: 2px solid #3E5C76;
    border-radius: 1px;
}

.home-content .right button:hover {
    /* background-color: green; */
    transform: scale(1.02);
    /* color: white; */
    border-left: 4px solid red;
    border-right: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    cursor: pointer;

}

.home-content .right .project-block .project-title {
    font-size: medium;
    height: 50%;

}

.home-content .right .project-block .project-tech {
    font-size: small;
    height: 50%;
}

/*-------------------------------
//  Resume Content
-------------------------------*/
.resume-content {
    display: flex;
    height: 100vh;
    align-items: flex-start ;
}

.resume-content #resume{
    width: 80%;
    height: 100%;
}

.resume-content #download {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.resume-content #version {
    color: white;
}

.resume-content a {
    display: block;
    width: 100px;
    height: 50px;
    all: unset;
    background: none;
    border: white 1px solid;
    outline: none;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-content a:hover { 
    /* transform: scale(1.02); */
    color: red;
    border: 1px solid red;
    cursor: pointer;
}

/*-------------------------------
//  About Content
-------------------------------*/

.about-me {
    color: white;
}

.OpenTopography-attribution {
  color: white;
  margin-bottom: 20px;
  height: 50px;
}